<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/SharedCss/navbar.css" rel="stylesheet" />
    <link href="~/Content/Designs/AccountForm.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar">

            <div class="logo"><a class="t" href="/">ResearchGate</a></div>

            <ul class="nav-links">

                @if (User.Identity.IsAuthenticated)
                {
                    <div style="color: black">@User.Identity.Name</div>
                    <li>
                        <a href="/Account/Logout">Log out</a>
                    </li>
                }
                else
                {
                    <li class="log"><a href="/login">Log in</a></li>
                    <li class="sign"><a href="/register">Sign up</a></li>
                }


            </ul>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
