@model List<ResearchGate.Models.Author>
@{
    ViewBag.Title = "search";
}
<link href="~/Content/Designs/Search.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>



    <link href="~/Content/SharedCss/search.css" rel="stylesheet" />
    <link href="~/Content/SharedCss/navbar.css" rel="stylesheet" />


</head>
<body>

    <div class="container">

        @if (Model != null && Model.Count != 0)
        {
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>University</th>
                    <th>Email</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.University</td>
                        <td>@item.Email</td>


                    </tr>
                }

            </table>
        }
        else
        {
            @ViewBag.Authors
        }



    </div>

    @*Html.ActionLink("Back", "Index", "Home") *@


</body>
</html>